<html>
    <head>
        <title>Voting App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
    </head>

    <body>
        <% include ./components/navbar %>
        <% include ./components/jumbotron %>
        <% include ./components/all-polls-comp.ejs %>
        <script src="https://use.fontawesome.com/0f862e59ba.js"></script>
    </body>
</html>